
<div class="wrapper">
  <div class="inner-wrapper">
    <div class="timepicker-wrapper">
      <div class="container">
        <div class="group">
          <app-timepicker (changed)="calculatePrice($event)" class="timepicker" #tp>
          </app-timepicker>
          <button type="button" class="btn btn-danger btn-x" (click)="clear()">X</button>
        </div>
    </div>
    <p *ngIf="isWrongTime" class="text-danger">Время введено некорректно!</p>
    </div>
    <div class="info-wrapper">
      <div class="alert-wrapper">
        <span class="alert alert-secondary left" role="alert"> Прошло минут:</span>
        <span class="alert alert-success right" role="alert">{{ round(minutesPast) || "00" }}</span>
      </div>
      <div class="alert-wrapper" *ngIf="minutesCounted">
        <span class="alert alert-secondary left" role="alert"> Со стоп чеком:</span>
        <span class="alert alert-success right" role="alert">{{ round(minutesCounted) || "00" }}</span>
      </div>
      <div class="alert-wrapper">
        <div class="input-group mb-3">
          <input type="tel"
                 [(ngModel)]="deducatedMinutes"
                 #deducated
                 class="form-control"
                 (blur)="clearInput()"
                 placeholder="Счастливые минутки"
                 aria-label="Enter minutes"
                 aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary"
                    type="button"
                    id="button-addon2"
                    (click)="subtract(deducatedMinutes)">Вычесть</button>
          </div>
        </div>
      </div>
      <div class="alert-wrapper">
        <span class="alert alert-secondary left" role="alert"> Оплатить:</span>
        <span class="alert alert-success right" role="alert">{{ round(price) || "00" }}</span>
      </div>
      <div *ngIf="totalPrice" class="alert-wrapper">
        <pre class="alert alert-info left" role="alert">За всех:</pre>
        <pre class="alert alert-info right" role="alert">{{ round(totalPrice) }}</pre>
      </div>
    </div>
  </div>

  <div class="multiply-buttons-wrapper">
    <button type="button" class="btn btn-light multiply" (click)="multiply(2, price)">2</button>
    <button type="button" class="btn btn-light multiply" (click)="multiply(3, price)">3</button>
    <button type="button" class="btn btn-light multiply" (click)="multiply(4, price)">4</button>
    <button type="button" class="btn btn-light multiply" (click)="multiply(5, price)">5</button>
    <button type="button" class="btn btn-light multiply" (click)="multiply(6, price)">6</button>
    <button type="button" class="btn btn-light multiply" (click)="multiply(7, price)">7</button>
    <button type="button" class="btn btn-light multiply" (click)="multiply(8, price)">8</button>
    <button type="button" class="btn btn-light multiply" (click)="multiply(9, price)">9</button>
    <button type="button" class="btn btn-light multiply" (click)="multiply(10, price)">10</button>
  </div>
  <button type="button" class="btn btn-danger" (click)="clear()">Очистить</button>

</div>
